body {
    background-color: #FDF3E7;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 80vmin;
    width: 80vmin;
}
td {
    border:1px solid #CCC;
    padding: 15px;
    font-size: 8vmin;
}
th {
    font-size: 8vmin;
}
td.marked {
    background: #CCC;
}

td.bingo {
    background: lightskyblue;
}

#container {
    display:flex;
}

#div-input {
    text-align: center;
}

#div-file {
    display:block;
}

#div-board {
    margin-right:20vw;
    text-align:center;
}

#div-upload, {
    text-align: center;
}

img {
    max-width:100%;
    max-height:100%;
}

#div-upload-img {
    margin-top: 5vh;
    text-align: center;
    max-height:80%;
    max-width:80%;
}

#cropped-image {
    max-height:80%;
    max-width:80%;
}

img {
    opacity: 1;
    transition: opacity 1s;
}

img.transitions.processed {
    opacity: .5;
}

